html {
    background-image: url('http://cfbhc.com/wiki/images/3/3a/UNC_logo.jpg');
    background-repeat:inherit;
}

.navbar {
    background-color: blueviolet;
}

.navbar-item {
    color:greenyellow;
    font-weight: bold;
}

#btn {
    background-color: palegreen;
    color: black;
    transition: .1s linear;
}

#btn:hover {
    background-color: turquoise;
    transition: .1s linear;
}
