
 #resetDeck_button, #reset_button
 {
   display:none;
 }
.usernameDisp
{
  font-family: azo-sans-web, sans-serif;
}
img{
  width: 20%;
  height: auto;
  }
  
.title_blackjack {
  font-family: lust, serif;

  font-weight: 700;

  font-style: normal;
  font-size: 2.8em !important;
  color:black;
}
#blackjackContainer {
  display: none;
}

html,
body {
  height: 100%;
  font-size: 1.1em;
  background-color: #fafafa;
}
hr {
  background-color: #e6e6e4;
}

.title {
  font-size: 2.8em !important;
}

.justify-center .column {
  display: flex !important;
  justify-content: center !important;
}

.is-family-secondary {
  font-family: "Shrikhand", cursive !important;
  font-size: 6em !important;
  font-weight: lighter !important;
}